package com.ngandroid.lib.ngattributes;

import android.util.SparseArray;

import com.ngandroid.lib.R;
import com.ngandroid.lib.utils.ValueFormatter;
import com.ngandroid.lib.utils.Blur;

public class AttrsImpl implements com.ngandroid.lib.ngattributes.Attrs {

    @Override
    public SparseArray<NgAttribute> getAttributes(ValueFormatter formatter, Blur blur){
        SparseArray<NgAttribute> attributes = new SparseArray<>();
        #foreach($attr in $attributes)
            attributes.put(R.styleable.ngAndroid_${attr.attrName}, ${attr.className}.getInstance(#foreach($param in $attr.attrParameters)$param#if( $foreach.hasNext ),#end#end));
        #end
    return attributes;
    }

}