package ${packageName};

import android.view.View;
import android.widget.*;

public class ${simpleClassName}$$NgScope <T extends ${className}> implements com.ngandroid.lib.ng.Scope {

	private T scope;
	public ${simpleClassName}$$NgScope(T scope){
		this.scope = scope;
		#foreach($field in $fields)
            this.scope.${field.name} = new ${field.typeName}$$NgModel();
        #end
	}

	public void attach(int layoutId, android.view.View __view__){
	    switch(layoutId){
            #foreach ($mapEntry in $layouts.entrySet())
                case ${manifestPackageName}.R.layout.${mapEntry.key}:{
                    #foreach($v in $mapEntry.value)
                        ${v.elementType} ${v.id} = (${v.elementType}) __view__.findViewById(${manifestPackageName}.R.id.${v.id});
                    #end
                    break;
                }
            #end
        }
	}

	public Object execute(int layoutId, int viewId, String attr){
	    switch(layoutId){
            #foreach ($mapEntry in $layouts.entrySet())
                case ${manifestPackageName}.R.layout.${mapEntry.key}:{
                    switch(viewId){
                        #foreach($v in $mapEntry.value)
                            case ${manifestPackageName}.R.id.${v.id}:
                                #foreach($attr in $v.attributes)
                                    if(attr.equals("${attr.name}")){
                                        #if($attr.source.void)
                                            ${attr.source};
                                            return null;
                                        #else
                                            return ${attr.source};
                                        #end
                                    }
                                #end
                        #end
                    }
                    break;
                }
            #end
        }
        return null;
	}

	public com.ngandroid.lib.ng.Model getModel(String field){
		switch(field){
		    #foreach($field in $fields)
		        case "${field.name}":
		            return (com.ngandroid.lib.ng.Model) scope.${field.name};
            #end
		}
		throw new com.ngandroid.lib.exceptions.NgException("Field '" + field + "' was not found in ${simpleClassName}");
	}

	public Object invokeMethod(String name, Object ... args){
	    return null;
	}

}